*{
  box-sizing:border-box;
}
body{
  margin: 0;
  padding: 0;
}

.calc-container{
  width: 400px;
  background-color: black;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.row{
  width: 100%;
  height: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.calc-screen{
  font-size:40px;
  color: white;
  text-align: right;
  padding: 20px 5px;
}


.btn{
  font-family: monospace; 
  font-size: 40px;
  width: 24.5%;
  height: 78%;
  margin-bottom: .5%;
  border:none;
  border-radius: 0;
  cursor: pointer;
}
.btn:hover{
  background-color:#ebebeb;
}

.btn:active{
  background-color: #bbbcbe;
}

.clear-btn{
  width:49.5%;
}
/* .division-btn{
  flex-grow: 1;
}
.backspace-btn{
  flex-grow: 1;
} */

.zero-btn{
  /* flex-grow: 4; */
  width: 74.5%
}

button:nth-last-of-type(4n-1){
  background-color: orange;
}
