.container{
  width: 400px;
  background-color: black;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.row{
  width: 100%;
  height: 20%;

}
.row-1{
  border: 2px solid orange;
}

.btn{
  font-family: monospace; 
  font-size: 2.2em;
  flex-grow: 1;
  margin: .5px;
}
.btn:hover{
  background-color: azure;
}

.row-2{
  display: flex;
  /* justify-content: center; */
}

/*set the with of the  button*/
.clear-btn{
  flex-grow: 3;
}
.division-btn{
  flex-grow: 1;
}
.backspace-btn{
  flex-grow: 1;
}

.row-3{

  display: flex;
  /* justify-content: center; */
}
.row-4{

  display: flex;
  /* justify-content: center; */
}
.row-5{
  display: flex;
  /* justify-content: center; */
}
.row-6{
  display: flex;
  /* justify-content: center; */
}
.zero-btn{
  flex-grow: 4;
}
.equal-btn{
  order: 2;
}
button:nth-child(4){
  background-color: orange;
}