.container{
  width: 400px;
  background-color: black;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.row{
  width: 100%;
  height: 20%;
  display: flex;
}


.btn{
  font-family: monospace; 
  font-size: 2.2em;
  flex-grow: 1;
  margin: .5px;
}
.btn:hover{
  background-color: azure;
}


.clear-btn{
  flex-grow: 2;
}
.division-btn{
  flex-grow: 1;
}
.backspace-btn{
  flex-grow: 1;
}

.zero-btn{
  flex-grow: 4;
}
.equal-btn{
  order: 2;
}
button:last-child{
  background-color: orange;
}